@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: var(--font-manrope), sans-serif;
}

/* Extra safety */
.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}
.font-geist-mono {
  font-family: var(--font-geist-mono), monospace;
}
